
@import "tailwindcss";

#onama {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.kartica {
    border: 1px solid rgb(241, 235, 235);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px 10px 10px 10px;
    box-shadow: 0 0 8px #cccccc;
    flex: 1 1 300px;
    max-width: 500px;
}

.kartica h3 {
    color: rgb(20, 92, 50);
    font-weight: 500;
}

.kartica h1 {
    margin-top: 0;
    font-size: 30px;
    font-weight: 700;
}

.kartica img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

.linija {
    width: 150px;
    height: 3px;
    margin-top: -10px;
    margin-bottom: 10px;
    background-color: #454a5a;
    transform: scaleX(0.8);
    transform-origin: center;
    animation: povecaj 1s ease-out forwards;
    display: flex;
    justify-content: center;
    align-content: center;
}

@keyframes povecaj {
    from { transform: scaleX(0.8); }
    to { transform: scaleX(4); }
}

@keyframes povecajMobilni {
    from { transform: scaleX(0); }
    to { transform: scaleX(2); }
}

@media (max-width: 768px) {
    .linija {
        width: 160px;
        height: 3px;
        animation: povecajMobilni 1s ease-out forwards;
    }
}

.crna-sekcija{
  position: relative;
  background: black;
  color: white;
  text-align: center;
}

.content{
  padding:120px 20px;
}

.wave-top svg,
.wave-bottom svg{
  display:block;
  width:100%;
  height:120px;
}

.linijadva {
    width: 240px;
    height: 3px;
    margin-top: -10px;
    margin-bottom: 10px;
    background-color: #454a5a;
    transform: scaleX(0.8);
    transform-origin: left;
    animation: povecaj 1s ease-out forwards;
    display: flex;
    justify-content: left;
    align-content: center;
}

@media (max-width: 768px) {
    .linijadva {
        width: 200px;
        height: 3px;
        animation: povecajMobilni 1s ease-out forwards;
    }
}

@keyframes povecaj {
    from { transform: scaleX(0.8); }
    to { transform: scaleX(8); }
}

@keyframes povecajMobilni {
    from { transform: scaleX(0); }
    to { transform: scaleX(2); }
}

.linijatri {
    width: 220px;
    height: 3px;
    margin-top: -10px;
    margin-bottom: 10px;
    background-color: #454a5a;
    transform: scaleX(0.8);
    transform-origin: left;
    animation: povecaj 1s ease-out forwards;
    margin-left: 395px;
}

@media (max-width: 768px) {
    .linijatri {
        width: 200px;
        height: 3px;
        margin-left: 60px;
        animation: povecajMobilni 1s ease-out forwards;
    }
}

@keyframes povecaj {
    from { transform: scaleX(0.8); }
    to { transform: scaleX(5); }
}

@keyframes povecajMobilni {
    from { transform: scaleX(0); }
    to { transform: scaleX(2); }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  opacity: 0;             
  transform: translateY(20px); 
  animation: fadeIn 0.8s ease-out forwards;
}

.animate-fadeIn:nth-child(1) { animation-delay: 0s; }
.animate-fadeIn:nth-child(2) { animation-delay: 0.1s; }
.animate-fadeIn:nth-child(3) { animation-delay: 0.2s; }
.animate-fadeIn:nth-child(4) { animation-delay: 0.3s; }
.animate-fadeIn:nth-child(5) { animation-delay: 0.4s; }
.animate-fadeIn:nth-child(6) { animation-delay: 0.5s; }